body {
      background-color: rgb(107, 19, 129);
      background-image: url(https://img.freepik.com/vetores-gratis/fundo-roxo-escuro-realista-com-forma-de-baixo-poli-e-sombra-bandeira-roxa-abstrata_266878-404.jpg);
  }
  
  h1 {
    color: rgb(10, 247, 10);
    text-align: center;
    text-shadow: 1px 1px 6px darkblue, 2px 2px 20px rgb(250, 252, 250), 0 0 5px darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  div {
    width: 70%;
    border: 5px solid rgb(10, 247, 10);
    border-radius: 10px;
    box-shadow: 2px 2px 10px aliceblue;
    padding: 50px;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    outline-style: groove;
  }

   p {
    color: aliceblue;
    text-align: center; 
    font-size: 20px;
   }

   h2 {
    color: rgb(10, 247, 10);
    text-align: center;
    text-shadow: 1px 1px 6px darkblue, 2px 2px 25px rgb(241, 241, 245), 0 0 5px darkblue;
    font-family: 'Times New Roman', Times, serif;
   }

   img {
    border-radius: 8%;
    box-shadow: 2px 2px 20px aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

   a {
    text-decoration: none;
    color: rgb(10, 248, 248);
    text-align: center;
    list-style: none;
    text-shadow: 1px 1px 6px darkblue, 2px 2px 25px aliceblue;
    font-size: 20px;
   }

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
 }

 h1 {
  text-align: center;
 }

 hr {
  font-weight: bold;
  height: 3px;
  background: white;
  margin-bottom: 10px;
 }

 .game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }

 .game button {
  width: 300px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: purple;
 }

   footer {
       color: aliceblue;
       text-align: center;
       text-shadow: 1px 1px 2px darkblue, 1px 1px 25px rgb(249, 249, 252), 1px 1px 5px darkblue;
   }

   @media only screen and (max-device-width:1292px){
    .game button {
      width: 280px;
    }
   }

   @media only screen and (max-device-width:1216px){
    .game button {
      width: 260px;
    }
   }

   @media only screen and (max-device-width:1126px){
    .game button {
      width: 240px;
    }
   }

   @media only screen and (max-device-width:1044px){
    .game button {
      width: 220px;
    }
   }

   @media only screen and (max-device-width:950px){
    .game button {
      width: 200px;
    }
   }

   @media only screen and (max-device-width:874px){
    .game button {
      width: 180px;
    }
   }

   @media only screen and (max-device-width:788px){
    .game button {
      width: 160px;
    }
   }

   @media only screen and (max-device-width:704px){
    .game button {
      width: 140px;
    }
   }

   @media only screen and (max-device-width:618px){
    .game button {
      margin-left: -10px;
      margin-right: 20px;
    }
   }

   @media only screen and (max-device-width:596px){
    .game button {
      margin-left: -15px;
      margin-right: 25px;
    }
   }

   @media only screen and (max-device-width:558px){
    .game button {
      width: 135px;
      margin-left: -19px;
      margin-right: 25px;
    }
   }

   @media only screen and (max-device-width:540px){
    .game button {
      width: 135px;
      margin-left: -24px;
      margin-right: 30px;
    }
   }

   @media only screen and (max-device-width:524px){
    .game button {
      width: 130px;
      margin-left: -24px;
      margin-right: 30px;
    }
   }

   @media only screen and (max-device-width:508px){
    .game button {
      width: 130px;
      margin-left: -28px;
      margin-right: 34px;
    }
   }

   @media only screen and (max-device-width:490px){
    .game button {
      width: 130px;
      margin-left: -35px;
      margin-right: 42px;
    }
   }

   @media only screen and (max-device-width:484px){
    .game button {
      width: 125px;
      margin-left: -34px;
      margin-right: 40px;
    }
   }

   @media only screen and (max-device-width:460px){
    .game button {
      width: 120px;
      margin-left: -34px;
      margin-right: 43px;
    }
   }

   @media only screen and (max-device-width:438px){
    .game button {
      width: 118px;
      margin-left: -34px;
      margin-right: 40px;
    }
   }

   @media only screen and (max-device-width:418px){
    .game button {
      width: 115px;
      margin-left: -40px;
      margin-right: 48px;
    }
   }

   @media only screen and (max-device-width:398px){
    .game button {
      width: 111px;
      margin-left: -40px;
      margin-right: 48px;
    }
   }

   @media only screen and (max-device-width:384px){
    .game button {
      width: 109px;
      height: 98px;
      margin-left: -41px;
      margin-right: 48px;
    }

    /*div {
      border: 5px solid rgb(10, 247, 10);
      box-shadow: 1px 1px px aliceblue;
    padding: 50px;
    }*/
   }
